.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  display: block;
}

#interim {
 text-align: center;
 font-size: 1.1em;
}
